.headerContainer {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 8px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding-inline: 30px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fefafa;
}

.headerBrand {
  display: flex;
  align-items: center;
}

.headerBrand h1 {
  color: #8c7e69;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cartLink {
  position: relative;
  display: inline-block;
}

.cartBadge {
  position: absolute;
  top: -10px;
  right: 12px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}