.categoryListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-grid {
  padding: 60px 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 60px;
  column-gap: 30px;
} 

.categoryListContainer h1 {
  color: #000000;
  padding-block: 30px;
  line-height: 48px;
  font-size: 40px;
}