.categoryListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsGrid {
  padding: 60px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  column-gap: 30px;
} 

.categoryListContainer h1 {
  color: #000000;
  padding-block: 30px;
  line-height: 48px;
  font-size: 40px;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.image-container {
  position: relative;
}

.product-card img {
  width: 100%;
  height: 330px;
  margin-bottom: 16px;
  object-fit: cover;
}

.product-card .like-btn-container {
  position: absolute;
  top: 8px;
  right: 8px;
}

.likeBtn {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.product-card .addtoCart {
  cursor: pointer;
  border: transparent;
  padding-block: 7px;
  background-color: #e8e8e8;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 5px;
}

.product-card .addtoCart:hover {
  background-color: #dcd9d9;
}

@media(width <= 430px) {
  .productsGrid {
    padding: 30px 39px;
    grid-template-columns: repeat(1, 1fr);
  }
}