.categoryListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-grid {
  padding: 60px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  column-gap: 30px;
} 

.categoryListContainer h1 {
  color: #000000;
  padding-block: 30px;
  line-height: 48px;
  font-size: 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  height: 330px;
}

.product-card button {
  border-radius: 10px;
  cursor: pointer;
  border: transparent;
  padding-block: 7px;
  background-color: #e8e8e8;
}

.product-card button:hover {
  background-color: #dcd9d9;
}