.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-block: 40px;
}

.categories {
  display: flex;
  align-items: center;  
  margin-top: 20px;
}

.categories p {
  text-align: center;
  color: #000;
  font-weight: 500;
}

.categoryItem {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.categoryItem:hover {
  transform: translateY(-10px);
}

@media(width <= 768px) {
  .categories {
    padding-inline: 10px;
  }

  .categoryItem img {
    height: 200px;
  }
}

@media(width <= 430px) {
  .categories {
    flex-direction: column;
  }
}