.gizlilikContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gizlilikContainer ol li:not(ul li) {
  font-weight: bold;
}

.gizlilikContainer p {
  font-size: 17px;
}

.gizlilikContainer li {
  color: black;
}

.gizlilikContainer li::marker {
  font-weight: bold;
  font-size: 17px;
}