.historyContainer {
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: #000;
  color: #c7cdc0;
  margin-bottom: 60px;
}

.historyPartInfo p {
  font-size: 20px;
  line-height: 1.4;
}

@media(width <= 768px) {
  .historyContainer {
    gap: 20px;
  }

  .historyContainer img {
    height: 400px;
  }
}

@media(width <= 430px) {
  .historyContainer {
    flex-direction: column;
  }

  .historyPartInfo {
    padding: 20px;
  }
}