.startShopping {
  background-image: url("/images/jewelry.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.startShopping h3 {
  font-size: 60px;
  padding: 200px 50px;
  color: #efeddc;
}

@media(width <= 430px) {
  .startShopping h3 {
    font-size: 45px;
  }
}

@media (max-width: 375px) {
  .startShopping h3 {
      font-size: 36px;
  }
}