.storeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storeContainer h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

.storeGrid {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 60px 50px;
  padding-block: 60px;
}

.productCard {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productCard img {
  width: 100%;
}

.productCard button {
  border-radius: 10px;
  cursor: pointer;
  border: transparent;
  padding-block: 7px;
  background-color: #e8e8e8;
  font-weight: 600;
  margin-top: 10px;
}

.productCard button:hover {
  background-color: #dcd9d9;
}

.productInfo {
  margin-block: 10px;
}

.image-container {
  position: relative;
}

.like-icon {
  position: absolute;
  top: 10px; 
  right: 10px;
  width: 24px; 
  height: 24px;
  cursor: pointer;
}
