.iadeContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iadeContainer ol li:not(ul li) {
  font-weight: bold;
}

.iadeContainer p {
  font-size: 17px;
}

.iadeContainer li {
  color: black;
}

.iadeContainer li::marker {
  font-weight: bold;
  font-size: 17px;
}

@media(width <= 430px) {
  .iadeContainer {
    padding-inline: 40px;
  }
}